<div class="content-wrapper">
  <div class="content-block">
    <% @posts.each do |post| %>
      <div class="content">
        <div class="user-about">
          <div class="image">
            <%= image_tag "チョコクッキー.jpg" %>
          </div>
          <div class="profile">
            <div class="name">
              ゆいゆい
            </div>
            <div class="introduction">
              お菓子作り得意
            </div>
          </div>
        </div>
        
        <div class="text">
          <p><%= post.content %></p>
        </div>
        
        <% if post.images.attached? %>
          <div class="images">
            <% post.images.each do |image| %>
              <%= image_tag image %>
            <% end %>
          </div>
        <% end %>
        
        <div class="action-menu">
          <div class="like">
            
          </div>
          <div class="comment">
            
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <div class="sidebar">
    <div class="box"></div>
    <div class="box"></div>
  </div>
</div>
