<% if flash[:notice].present? %>
  <div class="flash">
    <div class="notice"><%= notice %></div>
  </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="flash">
    <div class="alert"><%= alert %></div>
  </div>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> f7654119e60ba4fe6d5343e265f1fbb6c6ab359a
