<div id="header">
  <div class="logo">
    <a href="/">ロゴ</a>
  </div>
  <div class="link">
    <ul>
      <li>
        <a href="#">メニュー1</a>
      </li>
      <li>
        <a href="#">メニュー2</a>
      </li>
      <li>
        <a href="#">メニュー3</a>
      </li>
    </ul>
  </div>
</div>